body {
  margin: 0;
  padding: 0;

  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

@page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 1em 0;
}

@media screen {
  body {
    padding: 48px;
    background-color: lightgray;

    & > * {
      box-shadow: 0 0 8px #aaa, 0 0 8px #aaa, 0 0 8px #aaa;
      background-color: white;
    }
  }
}

.document {
  & > .title {
    position: relative;
    margin-top: 0;
    margin-bottom: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > p {
      font-size: 1.5em;
      margin: 0;
    }

    & > .author {
      margin-top: 0.5em;
      font-size: 1.25em;
    }
  }

  .list {
    width: 100%;
    margin: 0;
    padding-left: 3em;
    box-sizing: border-box;

    & > .item {
      box-sizing: border-box;
    }
  }

  .section {
    margin: 1em 0;

    &::before {
      display: block;
      font-size: 1.5em;

      counter-increment: section;
      content: counter(section) ".";
    }
  }
}
